

body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

a {
  color: inherit;
}

h3 {
  margin: 0;
}

.backgroundBlack {
  background-color: black;
}

.titleContainer {
  width: 100%;
  color: inherit;
}

.mainTitle {
  margin: 15px 0;
}

.secondaryTitle {
  margin: 20px 0;
}

/* Menu bar styling*/

.menuBar {
  width: auto;
  height: 69px;
  display: flex;
  flex-flow: row;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  z-index: 10;
  padding: 0 20px;
  background-color: black;
  border-bottom: 1px solid seashell;
}

.menuBarLogo {
  display: flex;
  height: 50px;
}

.menuBarNav {
  display: flex;
  flex-direction: row;
  min-width: 50%;
  margin-left: auto;
  align-items: center;
  justify-content: flex-end;
}

.menuBarNavLink {
  padding-left: 40px;
}

/*Styling for Hero module */

.heroContainer {
  margin: 70px auto;
  width: 1200px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img-mission-background.jpg");
}

/*Stying for Featured Tea Section*/

.featuredContainer {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featuredGrid {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.featuredItem {
  padding: 10px;
}

.featuredItemTitle {
  margin: 0;
  padding-top: 10px;
  font-size: 22px;
}

.featuredItem img {
  height: 200px;
  width: 300px;
}

/* Location stying */

.locationContainer {
  height: 500px;
  width: 1200px;
  margin: 70px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../img-locations-background.jpg");
}

.locationItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 300px;
  justify-content: space-around;
  align-items: center;
  margin: 0 20px;
  opacity: 1; ?????
}

/* Contact info and footer styling */

.contactInfo {
  height: 200px;
}

footer {
  text-align: left;
  margin-left: 20px;
}
